doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Registro
    link(rel='stylesheet', href='../css/style2.css')
  body
  div#chota 
  table 
        p(style='font-family: Arial, Helvetica, sans-serif; font-size: 40px; color: #fff; text-align: center;') INICIO 
        br
        section 

        table 
        a(href='/') 
        td 
        input#usuario(type="text", name="nombre" style='align-items: center;')
        td  
        button.Inicio Registrarme

        script(src="js/socket.io.js")
        script(src="js/logica.js")  